@page
@{
    ViewData["Title"] = "Начало";
}
<body>
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <table class="table table-hover home-content">
            <tr>
                <td class="left-band-home">
                    <h1>Добре дошли отново!</h1>
                    <p>Радваме, се че използвате нашето приложение.</p>
                    <i class="fa-regular fa-hand-wave"></i>
                </td>
                <td class="right-band-home">
                    <h1 style="color: #181828">Сигурност</h1>
                    <ul>
                        <li>Проверете най-новите застрахователни трендове в "Публикации"</li>
                        <li>Достъп до вашите застраховаки в "Моите застраховки"</li>
                        <li>Проверете типовете предлагани застраховки от нас в "Типове застраховки"</li>
                        <li>Вашите данни в "Моят профил"</li>
                    </ul>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-hover home-content">
            <tr>
                <td class="left-band-home">
                    <h1>Влезте или се регистрирайте</h1>
                    <p>Създадете акаунт или влезте за да изпозвате всички функции на <b style="color: #181828">Сигурност</b>.</p>
                    <i class="fa-regular fa-hand-wave"></i>
                </td>
                <td class="right-band-home">
                    <h1 style="color: #181828">Сигурност</h1>
                    <ul>
                        <li>Приложението ни ви предоставя възможност да се информирате за последните застрахователни трендове!</li>
                        <li>Лесен достъп до вашите застраховаки!</li>
                        <li>Тук може да заявите нова застраховка за 5 минути!</li>
                        <li>Пълна информираност относно всеки детайл от всички застраховки.</li>
                    </ul>
                </td>
            </tr>
        </table>
    }
</body>
